@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/identity.css" />
<section class="container-SI">
	<div class="form-box">
		<img src="~/assets/Photos/logo3.jpg" class="Frost Sounds" />
		<div class="button-box">
			<h4 class="text-center">@ViewData["Title"]</h4><br />
			<partial name="_StatusMessage" model="Model.StatusMessage" />
			<hr /><br />
			<form id="change-password-form" method="post" class="input-group" id="login">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input asp-for="Input.OldPassword" class="input-field1" placeholder="Enter Old Password" />
				<br />
				<input asp-for="Input.NewPassword" class="input-field1" placeholder="Enter New Password" />
				<br />
				<input asp-for="Input.ConfirmPassword" class="input-field" placeholder="Confirm your Password" />
				<br />
				<button type="submit" class="btn">Update password</button>
			</form>
		</div>
	</div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}