@page
@model SetPasswordModel
@{
	ViewData["Title"] = "Set password";
	ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/identity.css" />
<section class="container-SI">
	<div class="form-box">
		<img src="~/assets/Photos/logo3.jpg" class="Frost Sounds" />
		<div class="button-box">
			<h4>Set your password</h4>
			<partial name="_StatusMessage" for="StatusMessage" />
			<p class="text-info">
				You do not have a local username/password for this site. Add a local
				account so you can log in without an external login.
			</p>
			<form id="set-password-form" method="post" class="input-group" id="login">
				<div asp-validation-summary="All" class="text-danger"></div>
				<input asp-for="Input.NewPassword" class="form-control" disabled class="input-field1" placeholder="Enter New Password"  />
				<br />
				<input asp-for="Input.ConfirmPassword" class="input-field1" placeholder="Confirm your Password" />
				<br />
				<button type="submit" class="btn">Set password</button>
			</form>
		</div>
	</div>
</section>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}