@model IEnumerable<PianoStoreProject.Models.CategoriesViewModel>

<table class="display nowrap table table-hover table-bordered" cellspacing="0" width="100%" id="tblCategory">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(i = i + 1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a href="/Manage/EditCategory?Id=@item.Id" title="Edit Category"><i class="fa fa-edit" aria-hidden="true"></i></a> |
                    <a href="Javascript:void(0);" title="Delete Category" onclick="Category.initDeleteCategory('@item.Id')"><i class="fa fa-trash" aria-hidden="true"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $("#tblCategory").DataTable({
            destroy: true,
            aaSorting: [],
            "ordering": false,
            "bSort": false,
            "bSortable": false,
            "orderable": false,
        })
    });
</script>
