@model IEnumerable<PianoStoreProject.Models.ProductViewModel>
@using PianoStoreProject.Repositories;
@inject IProductRepository ProductProvider
@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@foreach (var item in Model)
{
	<div class="product-1" id="text">
		<img class="prod-img-1" src="@item.ImageUrl" alt="@item.ProductName">
		<h2>@item.ProductName</h2>
		<p>£@item.Price</p>
		<a href="/Product/Detail?Id=@item.Id" class="btn3">Shop Now &#8594;</a>
	</div>
}
<script type="text/javascript">
	Store.updateTotal('@ViewBag.PageCount');
</script>	