@model IEnumerable<PianoStoreProject.Models.OrderViewModel>
@{
    ViewData["Title"] = "Delivered";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="card ">
	<div class="card-header">
		<h4 class="card-title">ORDERS COMPLETED</h4>
		<hr>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered table-hover" id="tblOrders">
					<thead>
						<tr>
							<th>
								Order ID
							</th>
							<th>
								Amount Paid
							</th>
							<th>
								Order Date
							</th>
							<th>
								Status
							</th>
							<th>
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						@{
							int i = 0;
						}
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.OrderId)
								</td>
								<td>
									£ @Html.DisplayFor(modelItem => item.TotalAmount)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Datetime)
								</td>
								<td>
									@Html.Raw(item.status)
								</td>
								<td>
									<a href="/Cart/OrderDetail?OrderId=@item.OrderId" title="View Order Items"><i class="fa fa-bars" aria-hidden="true"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function () {
        $("#tblOrders").DataTable({
            destroy: true,
            aaSorting: [],
            "ordering": false,
            "bSort": false,
            "bSortable": false,
            "orderable": false,
        })
    });
</script>