@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/identity.css" />
<section class="container-SI">
	<div class="form-box">
		<img src="~/assets/Photos/logo3.jpg" class="Frost Sounds" />
		<div class="button-box">
			<div id="btn4">
				<a asp-area="Identity" asp-page="/Account/Login" class="btn5"> Log-in</a>
				<a asp-area="Identity" asp-page="/Account/Register" class="btn5"> Register</a>
			</div>
			<form method="post" class="input-group" id="login">
				<h1>@ViewData["Title"]</h1>
				<p>Enter your Email to get a password reset link.</p><br />	<hr /><br />
				<div asp-validation-summary="All" class="text-danger"></div>
				<input asp-for="Input.Email" class="input-field1" placeholder="Enter your Email" />
				<br />
				<button type="submit" class="btn">Submit</button>
			</form>
		</div>
	</div>
</section>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
