@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
}

<link rel="stylesheet" href="~/css/identity.css" />
<section class="container-SI">
	<div class="form-box">
		<img src="~/assets/Photos/logo3.jpg" class="Frost Sounds" />
		<div class="button-box">
			<div id="btn4">
				<a asp-area="Identity" asp-page="/Account/Login" class="btn5"> Log-in</a>
				<a asp-area="Identity" asp-page="/Account/Register" class="btn5"> Register</a>
			</div>
			<form method="post" class="input-group" id="login">
				<h1>@ViewData["Title"]</h1>
				<p>Reset your password.</p>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input asp-for="Input.Code" type="hidden" />
				<input asp-for="Input.Email" class="input-field1" placeholder="Enter your Email" />
				<br />
				<input asp-for="Input.Password" class="input-field1" placeholder="Enter your new Password" />
				<br />
				<input asp-for="Input.ConfirmPassword" class="input-field1" placeholder="Confirm your Password" />
				<br />
				<button type="submit" class="btn">Reset</button>
			</form>
		</div>
	</div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
