@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "Reset password confirmation";
}

<link rel="stylesheet" href="~/css/identity.css" />
<section class="container-SI">
	<div class="form-box">
		<img src="~/assets/Photos/logo3.jpg" class="Frost Sounds" />
		<div class="button-box">
			<div id="btn4">
				<a asp-area="Identity" asp-page="/Account/Login" class="btn5"> Log-in</a>
				<a asp-area="Identity" asp-page="/Account/Register" class="btn5"> Register</a>
			</div>
			<div class="input-group" id="login">
				<h1>@ViewData["Title"]</h1>
				<p>
					Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
				</p>
			</div>
		</div>
	</div>
</section>
